.hero {
  .description {
    color: #2c3e50 !important;
  }

  h1 {
    color: #2c3e50 !important;
  }
}

.vpower {
  display: none;
}

.sidebar-sub-headers a.sidebar-link.active {
  font-weight: 550 !important;
  background: transparent;
  color: #2c3e50;
}

#app {
  // font-family: '楷体','楷体_GB2312';
  font-size: 16px;
}